<h2>REPORTE DE LOS EXAMENES REALIZADOS EN LAS DIFERENTES AREAS POR FECHAS</h2>
<button  class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.xls', 'Reporte')">Exportar a Excel</button>
<button style="margin-left: 10px" class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.csv', 'Reporte')">Exportar a CSV</button>
<hr>
<div>
  <mat-form-field appearance="legacy">
    <mat-label>Seleccione el rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
      <input matStartDate formControlName="start" placeholder="Inicio">
      <input matEndDate formControlName="end" placeholder="Final">
    </mat-date-range-input>
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button class="btn btn-warning" (click)="Obtener(dateRange.value.start,dateRange.value.end)">Consultar</button>
</div>


<div>
  <input type="text" class="form-control pull-right" style="width:50%" id="search" placeholder="Buscar...">
  <table id="tabla" class="table table-hover table-bordered">
    <thead class="table-dark cab">
      <tr class="cab">
        <td>Area</td>
        <td>Cantidad de examenes realizados</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of datos">
        <td>{{area.nombre}}</td>
        <td>{{area.cantidad}}</td>
      </tr>
    </tbody>
  </table>
</div>

