<h2>ESTADISTICAS DE LOS TIPOS DE SANGRE POR ZONA GEOGRAFICA</h2>
<button  class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.xls', 'Reporte')">Exportar a Excel</button>
<button style="margin-left: 10px" class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.csv', 'Reporte')">Exportar a CSV</button>
<hr>
<div class="container">
  <input type="text" class="form-control pull-right" style="width:50%" id="search" placeholder="Buscar...">
  <table id="tabla" class="table table-hover table-bordered">
    <thead class="table-dark cab">
      <tr class="cab">
        <td>Pais</td>
        <td>Departamento</td>
        <td>Municipio</td>
        <td>Tipo A</td>
        <td>Tipo B</td>
        <td>Tipo O</td>
        <td>Tipo AB</td>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let persona of datos">
        <td>{{persona.id_pais}}</td>
        <td>{{persona.id_depto}}</td>
        <td>{{persona.id_municipio}}</td>
        <td>{{persona.tipoA}}</td>
        <td>{{persona.tipoB}}</td>
        <td>{{persona.tipoO}}</td>
        <td>{{persona.tipoAB}}</td>
    </tr>
    </tbody>
  </table>
</div>
