<h2>REPORTES GENERALES</h2>
<button  class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.xls', 'Reporte')">Exportar a Excel</button>
<button style="margin-left: 10px" class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.csv', 'Reporte')">Exportar a CSV</button>
<hr>
<div>
  Seleccione la tabla para adicionar al reporte:
  <form (ngSubmit)="llenarTabla(datos,'tabla')">
    <select name="miselect" (ngModelChange)="Consultar($event)" [(ngModel)]="name">
    <option [value]="item" *ngFor="let item of lista">{{item}}</option>
    </select>
      <button style="margin-left: 10px" class="btn btn-warning" type="submit">AGREGAR</button>
      <button style="margin-left: 10px" class="btn btn-danger" (click)="vaciarTabla()">LIMPIAR</button>
  </form>
</div>
<div class="container" id="tablas">
  <input type="text" class="form-control pull-right" style="width:50%" id="search" placeholder="Buscar...">
  <table id="tabla" class="table table-hover table-bordered table-dark">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
