<h2>ESTADISTICAS DE LA CANTIDAD DE PERSONAS CON TRIGLICERIDOS ALTOS Y LOS EXAMENES REALIZADOS</h2>
<button  class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.xls', 'Reporte')">Exportar a Excel</button>
<button style="margin-left: 10px" class="btn btn-primary" onclick="Exporter.export(tabla, 'reporte.csv', 'Reporte')">Exportar a CSV</button>
<hr>
<div class="container">
  <input type="text" class="form-control pull-right" style="width:50%" id="search" placeholder="Buscar...">
  <table id="tabla" class="table table-dark table-hover">
    <thead class="cab table-dark">
      <tr class="cab">
        <td>Pais</td>
        <td>Departamento</td>
        <td>Municipio</td>
        <td>Cantidad de personas</td>
        <td>Cant.Exam.</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of datos">
        <td>{{persona.id_pais}}</td>
        <td>{{persona.id_depto}}</td>
        <td>{{persona.id_municipio}}</td>
        <td>{{persona.cantidadPersonasTA}}</td>
        <td>{{persona.cantidadExamenes}}</td>
      </tr>
    </tbody>
  </table>
</div>
